.AboutMe {
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #4d4d4d;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}

/*Info column*/
.boxInfo {
    
    border: solid;
    border-color: #000000;
    border-width: 2px;
    background: white;
    border-right: none;
    border-bottom: none;
    border-top: none;
    position: relative;
    min-height: 240px;
}
#sns {    
    margin-top:20px;
    margin-left:20px;
}
.sns {
    width: 90%;
    border-top: 2px solid darkgray;
}
/*Label Effect*/
label {
    border-radius: 0px 50px;
    background: rgb(173, 2, 2);
    padding: 20px;
    width: 100px;
    height: 80px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*Technical Effect*/
.heading {
    font-weight:bold;
    text-align:center;
}


