.AboutMe {
    font-family: 'Handlee', cursive;
    background-image: url('../img/page_1920.jpg');
    margin: 5px 0px;
    padding: 30px 10px;
    background-repeat: no-repeat;
    
}

/*Info column*/
.boxInfo {
    background: rgba(255,255,255,0.5);
    border: solid;
    border-color: #000000;
    border-width: 2px;
    font-size: 150%;
    border-right: none;
    border-bottom: none;
    border-top: none;
    position: relative;
    min-height: 240px;
}
#sns {    
    margin-top:20px;
    margin-left:20px;
}
.sns {
    width: 90%;
    border-top: 2px solid darkgray;
}
/*Label Effect*/
label {
    border-radius: 0px 50px;
    background: rgb(173, 2, 2);
    padding: 20px;
    width: 100px;
    height: 80px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*Technical Effect*/
.heading {
    font-weight:bold;
    text-align:center;
}


