/*Hero - Computer*/
#banner {
    color: white;
    /* Set a specific height */
    height: 70%;
    width: 70%;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/nightview.jpg');
}

    #banner > .lead {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 150%;
    }

    #banner > #ava {
        float: left;
        margin-left: 30px;
        height: 100%;
        width: 100%;
        background-color: white;
        padding: 10px;
        border: 1px solid #CCCCCC;
        box-shadow: 5px 5px 5px #6b0101;
        width: 100px;
        margin-left: 50px;
        margin-top: 50px;
    }

        #banner > #ava:hover {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

    #banner > .relax {
        margin-right: 20px;
        margin-top: 20px;
        float: right;
    }


.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}
