.headerFont {
    text-align: center;
}

/*SNS icon fx*/
.fa {
    padding-left: 30px;
    padding-right: 10px;
    color: black;
}

/*Contact Me Form column*/
.boxForm {
    padding: 5px 15px;
    border: solid;
    border-color: #e0c005;
    border-width: 2px;
    border-right: none;
    border-bottom: none;
    position: relative;
    min-height: 240px;
}

#inputName, #inputEmail {
    margin-left: 10px;
}

#inputSubject, #inputMessage, .btn-block {
    margin-left: 25px;
    width: 90%;
}

.form-inline {
    width: 95%;
}

button, input, optgroup, select, textarea {
    margin: 15px 10px;
}

.form-control {
    margin: 5px 0 5px;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        width: 100%;
    }
}
