.pageCustom {
    background-color:white;
}
/*Google Map*/
#googlemaps {
    max-width: none;
    height: 100%;
}
/*Contact Me Form column*/
.boxForm {
    padding: 0px 15px 35px;
    height: 450px;
}

#inputName, #inputEmail, #inputSubject, #inputMessage, .btn-block {
    margin-left: 25px;
    width: 90%;
}

.form-inline {
    width: 95%;
}

button, input, optgroup, select, textarea {
    margin: 15px 10px;
}

.form-control {
    margin: 5px 0 5px;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        width: 100%;
    }
}
