/*Custom Stylesheet*/
html, body {
    height: 100%;
    width: 100%;
    /*might be a white border:
        margin:0;
        padding:0;
    */
}

}


/*Icon Row*/
#iconRow {
    padding: 20px 0px; /*interpret: top and bottom are 20, right and left are 0*/
}

#resume > h1 {
    text-align: center;
    padding: 10px
}

/*Pics*/

#relax > #camera, #tea {
    display: inline-block; /*for pics*/
    float: left; /*for text*/
    width: 50%; /*for text*/
}

#relax > #camera {
    background: url("../img/ian-camera.jpg");
    background-size: cover;
    background-position: center left; /*push the image to the right, fit the left*/
    height: 500px;
    color: white;
}


#relax > #tea {
    background: url("../img/toa-tea.jpg");
    background-size: cover;
    background-position: center right; /*push the image to the right, fit the left*/
    height: 500px;
    color: white;
}

#relax .overlay {
    background: rgba(0,0,0,0.5);
    font-family: Consolas;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*Journey*/
#journey {
    background: url("../img/HeaderPS.jpg");
    background-size: cover;
    background-position: center left; /*push the image to the right, fit the left*/
    height: 100%;
    width: 100%;
}


/*Footer*/
#footer {
    background: black;
    padding: 25px;
    color: white;
}

/*Media Queries*/
@media(max-width:767px) { /*767px is the boundery that bootstrap will change the layout*/
    
    #computer > #computer-text > h1 {
        font-size: 40px;
    }
    /*adding another class just for the padding*/
    .sm-dev-padding {
        padding-top: 60px;
    }
    /*changing the layout of the pics when the width is reached*/
    #relax > #camera, #tea {
        display: block;
        width: 100%;
    }

    #resume > h1 {
        font-size: 40px;
    }

    #resume > col-md-4 sm-dev-padding > h2 {
        font-size: 80px;
    }
}

/*Appendix:
    Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
