﻿ /*Custom Stylesheet*/
html, body {
    height: 100%;
    width: 100%;
    /*might be a white border:
        margin:0;
        padding:0;
    */
}

.myPage {
    color: #fff;
    background-color: #0e0c0c;
    -webkit-font-smoothing: antialiased;
}

/*Navbar fx and collapse Bootstrap*/
.navbar {
    height: 50px;
}

.collapsing, .navbar-collapse.in, #collapsibleNavbar {
    background-color: #343a40;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

/*Media box*/
.relax {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 99999;
}
#resume {
    margin-top:-20px;
}
#resumeHeader {
    text-align: center;
    font-family: 'Oxygen Mono', monospace;
    padding-top: 20px;
}

/*Footer*/
#footer {
    background: black;
    padding: 25px;
    color: white;
}
