.progress-wrap {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

    .progress-wrap h3 .name-left {
        float: left;
    }

    .progress-wrap h3 .value-right {
        float: right;
    }

    .progress-wrap h3 {
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }

.progress-bar {
    height: 5px;
    display: block;
    box-shadow: none;
}

.progress {
    width: 100%;
    float: left;
    height: 0.3125em;
    box-shadow: none;
}